

#first {

	background: url("../img/headr.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

	height: 100vh;
	background-attachment: fixed;
}

.container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
}

.form {
	width: 400px;
	height: 500px;
	margin: 25% auto 0 auto;
	border-radius: 10px;

	background-color: #d4d4d4 ;
	opacity: .9;
}

.maket {
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}	
legend {
	width: 400px;
	background-color: #ffb400;
}


label {
	color:#fff;
	font-size: 15px;
}

h6 {
	font-weight: bold;
}



input[type="text"],
input[type="password"] {
	width: 100%;
	margin: 10px 0;
	border-radius: 5px;
	padding: 8px;
}

button {
	display: block;
	position: relative;
	left: 31%;
	top: 15px;
}

/* ВСЕ, КІНЕЦЬ КОДУ!!!!!!!!!!!!!!!!!*/

@media (max-width: 990px) {
	body {
		background: url("../img/header.jpg") center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;

		height: 100vh;
	}
	
	.form {
		width: 500px;
		height: 700px;
		margin: 25% auto 0 auto;
		border-radius: 10px;
	
		background-color: #d4d4d4 ;
		opacity: .9;
	}

	input[type="text"],
	input[type="password"] {
		width: 100%;
		margin-top: 10px;
		border-radius: 5px;
		padding: 40px;
	}

	input:focus::placeholder  {
		text-indent: 500px;   
		transition: text-indent 0.3s ease;
	}

	input::placeholder {
		font-size: 25px;
	}

	.form h6 {
		font-size: 32px;
	}

	button {
		display: block;
		position: relative;
		left: 28%;
		top: 5px;
		
	}

	button[type="submit"] {
		font-size: 25px;
	}
}

@media (min-width: 320px) and (max-width: 740px) {
	
}

